body {
    background-color: #121212;
    text-align: center;
    color: #97C4B6;
    font-family: 'Cormorant', serif;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Lobster Two', serif;
    color: #DA5844;
    font-size: 2rem;
}

#product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 5px double #432336;
    background-color: #281520;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.product-card img {
    width: 300px;
    border: 4px double #97C4B6;
    opacity: 60%;
}

.product-card img:hover {
    opacity: 100%;
}

.category, .price {
    text-transform: uppercase;
    color:#DA5844;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1rem;
    margin: 10px;
}

.price {
    text-transform: uppercase;
    color:#DA5844;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: 0px;

}

button {
    background-color: #DA5844;
    border: 5px double #281520;
    color:#281520;
    padding: 5px;
    font-size: 1.2rem;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    letter-spacing: 1px;
}